<!DOCTYPE html>
<html lang="en">


    <% if (!user_id) { %>
       <a href="/urls/register"> register </a>
        <a href="/urls/login"> login </a>

    <%  } else { %>

     currently logged in as: <%= [user_id] %>

    <form method="POST" action="/logout" >
    <input type="submit" value="logout">
    </form>


    <% } %>




</html>


