<!DOCTYPE html>
<html lang="en">


    <% if (username) { %>
     currently logged in as: <%= username %>

    <form method="POST" action="/logout" >
    <input type="submit" value="logout">

    <%  } else { %>

     <form method="POST" action="/login">
     <input type="text" name="username">
      <input type="submit" value="login">
     </form>

    <% } %>




</html>
