<!DOCTYPE html>
<html lang="en">


    <% if (user_id) { %>

      currently logged in as: <%= email %>

    <form method="POST" action="/logout" >
    <input type="submit" value="logout">

    </form>

    <%  } else { %>


     <a href="/urls/register"> register </a>
     <a href="/urls/login"> login </a>


    <% } %>




</html>

