<!DOCTYPE html>
<html lang="en">


    <% if (userDB[user_id]) { %>
     currently logged in as: <%= userDB[user_id].email %>

    <form method="POST" action="/logout" >
    <input type="submit" value="logout">

    <%  } else { %>

     <form method="POST" action="/login">
     <input type="text" name="user_id">
      <input type="submit" value="login">
     </form>

    <% } %>




</html>
