<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <% include partials/_header %>

  <h2> urls and their associated short forms </h2>

      <% for (shortkey in matchingURL){ %>

      <li> <%= matchingURL[shortkey].shortkey %> : <%= matchingURL[shortkey].longURL %><form method="POST" action="/urls/<%= matchingURL[shortkey].shortkey %>/delete"> <input type="submit" value="delete">  </form> <a href="/urls/<%= matchingURL[shortkey].shortkey %>"><button class="btn">Edit</button></a> </li>
      <%  } %>

            <a href="/urls/new "> Click here to make a new short url </a>

  </form>

</body>
</html>