<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <% include partials/_header %>

  <h2> urls and their associated short forms </h2>
      <% for (shortKey in matchingURL){ %>
        <li> <%= matchingURL[shortKey].shortKey %> : <%= matchingURL[shortKey].longURL %>
          <form method="POST" action="/urls/<%= matchingURL[shortKey].shortKey %>/delete">
            <input type="submit" value="delete">
          </form>
          <a href="/urls/<%= matchingURL[shortKey].shortKey %>">
           <button class="btn">Edit</button>
          </a>
        </li>
        <%  } %>
        <a href="/urls/new "> Click here to make a new short url </a>
</body>
</html>