<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <% include partials/_header %>

  <h2> Registration page </h2>
   <form method="POST" action="/register" >
        <input id="email" type="email" name="email" placeholder= "enter email">
        <input id="password" type="password" name="password" placeholder= "enter password">
        <input type = "submit" value="submit">
      </form>

</body>
</html>